body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container, .container2 {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container .row, .row .wrapper, .container2 .row2 .wrapper2 {
    /* width: 100%; */
    padding: 10px;
}

.row .wrapper input {
    width: 50px;
}